<section class="thirteen columns">
    <h1>About me</h1>
    <p>Hi, guys! I am currently a senior undergraduate student in computer science at Zhejiang University, China. I work as a research intern in  <a href="http://www.cad.zju.edu.cn/english.html"><font color="#0000FF"><U>State Key Laboratory of CAD & CG</U></font></a>, under the supervision of <a href="http://www.cad.zju.edu.cn/home/dengcai/"><font color="#0000FF"><U>Prof. Deng Cai</U></font></a>. I love machine learning and its applications like data mining and computer vision. My undergraduate research focus on image retrieval and social network analysis. Recently, I work as an intern at Institute of Computing Technology(CAS) with <a href="http://faculty.cs.tamu.edu/jchai/"><font color="#0000FF"><U>Prof. Jinxiang Chai</U></font></a>.</p>
    <p>This summer, I had my great pleasure to work with <a href="http://web.cs.ucdavis.edu/~yjlee/"><font color="#0000FF"><U>Prof. Yong Jae Lee</U></font></a> and <a href="http://web.cs.ucdavis.edu/~davidson/"><font color="#0000FF"><U>Prof. Ian Davidson</U></font></a> at UCDavis.</p>
    
</section>
