<section class="thirteen columns">
    <h1>About me</h1>
    <p>Hi, guys! I am currently a master student in computer science at UIUC. Here I worked with data mining group supervised by <a href="http://hanj.cs.illinois.edu/"><font color="#0000FF"><U>Prof. Jiawei Han</U></font></a>
    	Previously, I worked as a research assistant in  <a href="http://www.cad.zju.edu.cn/english.html"><font color="#0000FF"><U>State Key Laboratory of CAD & CG</U></font></a>, under the supervision of <a href="http://www.cad.zju.edu.cn/home/dengcai/"><font color="#0000FF"><U>Prof. Deng Cai</U></font></a>. I love machine learning and its applications like data mining and computer vision. My undergraduate research focus on image retrieval and social network analysis.
    
</section>
