<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>Chu KoChen Honors College</span>
            <span>Zhejiang University</span>
            <span><address>Hangzhou, China</address><time>2012.10 to 2016.6</time></span>
        </header>
        <p>
            <em>Thesis: Personalized Recommendation in Heterogeneous Social Network</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Summer intern student</h1>
            <span>University of California, Davis</span>
            <span><address>Davis, CA</address><time>2015.7 to 2015.9</time></span>
        </header>
        <p>
            <em>Topic: Human Augmented Training Data in Learning To Rank</em>
        </p>
    </article>
</section>
