<section class="thirteen columns">
    <h1>Research Project</h1>
    <article>
        <header>
            <h1>Object-tracking Benchmark</h1>
            <span><address>Zhejiang University</address><time>2013.12 to 2014.4</time></span>
        </header>
        <p>Implemented mean-shift and other principle tracking methods,
            evaluate performance on TB-50 Sequences.</p>
    </article>
    <article>
        <header>
            <h1>Collaborative Filtering Algorithms for recommendation <a href="/Rspackage"><font color="#FF0000"><U>[code]</U></font></a></h1>
            <span><address>Zhejiang University</address><time>2014.7 to 2014.9</time></span>
        </header>
        <p>Built a collaborative filtering recommendation algorithms toolbox in C++,
            implemented K-nearest neighbor and probabilistic matrix factorization methods.</p>
    </article>
    <article>
        <header>
            <h1>Personalized Tweet Recommendation</h1>
            <span><address>Zhejiang University</address><time>2015.3 to present</time></span>
        </header>
        <p>The current researches on tweet recommendation mainly focus on the content of the tweets and the interests of the receiver. We observed impact of publishers’ authority in social media information propagation and
            used tensor model in tweet recommendation to incorporate all the three factors.</p>
    </article>
    <article>
        <header>
            <h1>Human Augmented Training Data in Learning To Rank</h1>
            <span><address>University of California, Davis</address><time>2015.7 to 2015.9</time></span>
        </header>
        <p>Pairwise learning to rank methods require a substantial amount of training to perform well. We employed localized annotations to synthesize pairs of training instance,achieved higher ranking accuracy via augmented training data</p>
    </article>
    <article>
        <header>
            <h1>Face landmark detection <a href="/Face_Alignment"><font color="#FF0000"><U>[code]</U></font></a></h1>
            <span><address>Institute of Computing Technology Chinese Academy of Sciences
</address><time>2015.10 to present</time></span>
        </header>
        <img src="{{ site.baseurl }}static/img/face_1.png" height=300px>
        <img src="{{ site.baseurl }}static/img/face_2.png" height=300px>
        <img src="{{ site.baseurl }}static/img/face_3.png" height=300px>
        <img src="{{ site.baseurl }}static/img/face_4.png" height=300px>
        <p>
        </p>
    </article>
</section>
