<section class="thirteen columns">
    <h1>Research Project</h1>
    <article>
        <header>
            <h1>Heterogenous Network Embedding</h1>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.10 to present</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>ReMine: Open Information Extraction</h1>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.4 to 2017.10</time></span>
        </header>
        <p>
            My primary responsibility is developing a general pose machine, which can apply to multiple objects key point detection and pose estimation. We explore convolutional pose machine trained on synthetic images only.
        </p>
    </article>
    
    <article>
        <header>
            <h1>ReHession: Heterogeneous Supervision for Relation Extraction</h1>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.1 to 2017.4</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Articulate object pose estimation</h1>
            <span><address>Carnegie Mellon University</address><time>2016.6 to present</time></span>
        </header>
        <p>
            My primary responsibility is developing a general pose machine, which can apply to multiple objects key point detection and pose estimation. We explore convolutional pose machine trained on synthetic images only.
        </p>
    </article>

</section>
