<section class="thirteen columns">
    <h1>Research Project</h1>
    <article>
        <header>
            <h1>Heterogenous Network Embedding</h1>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.11 to present</time></span>
        </header>
    </article>

    <article>
        <header>
            <a href = "https://gentlezhu.github.io/ReMine/"><h1>ReMine: Open Information Extraction</h1></a>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.4 to present</time></span>
        </header>
        <p>
            Integrating local supervision (patterns and dependency paths) and global supervision(embedding vectors of entities and relations) for Open Information Extraction, more than 4% MAP gained on news and twitter
        </p>
    </article>
    
    <article>
        <header>
            <a href = "https://liyuanlucasliu.github.io/ReHession/"><h1>ReHession: Heterogeneous Supervision for Relation Extraction</h1></a>
            <span><address>University of Illinois Urbana-Champaign</address><time>2017.1 to 2017.4</time></span>
        </header>
        <p>
            ReHession combines multiple types of weak supervision in a competing way. Specifically, it infers instance-wise trustworthiness of different supervision source, i.e. domain heuristics and distant supervision
        </p>
    </article>

    <article>
        <header>
            <h1>Articulate object pose estimation</h1>
            <span><address>Carnegie Mellon University</address><time>2016.6 to present</time></span>
        </header>
        <p>
            My primary responsibility is developing a general pose machine, which can apply to multiple objects key point detection and pose estimation. We explore convolutional pose machine trained on synthetic images only.
        </p>
    </article>

</section>
